@media (max-width: 768px) {
    .logo img {
        width: 50px;
    }
  .main-poster {
    margin-top: 0%;
  }
  .poster-content {
    font-size: 12px;
  }
  .poster-button {
    font-size: 12px;
  }
  .mainpic {
    display: block;
     width: 100%;
  max-width: 100%;
  max-height: 300px;
  overflow: hidden;
  }
  .mainpic img {
    width: 100%;
    object-fit: contain;
    margin-top: 100px;
  }
  .slider {
    display: none;
  }
  }

@media (max-width: 768px) {
  .blog-item,
  .blog-item.reverse {
    flex-direction: column;
    text-align: center;
  }

  .blog-content {
    max-width: 100%;
  }
  .header-line h2 {
    font-size: 25px;
  } }



  @media (max-width: 768px) {

  nav {
    position: fixed;
    inset: 0;
    background-color: #9B111E;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
  }

  nav.active {
    opacity: 1;
    pointer-events: auto;
  }

  nav a {
    font-size: 22px;
  }

  .burger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
  }
}