@media (max-width: 768px) {
    .logo img {
        width: 50px;
    }
  .main-poster {
    margin-top: 0%;
  }
  .poster-content {
    font-size: 12px;
  }
  .poster-button {
    font-size: 12px;
  }
  .mainpic {
     position: relative;
    display: block;
     width: 100%;
  max-width: 100%;
  overflow: hidden;
  }
  .mainpic img {
    width: 100%;
    object-fit: contain;
    margin-top: 100px;
    display: block;
  }
  .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px red, -2px -2px 5px darkred;
    opacity: 0.5;
}
  .slider {
    display: none;
  }
  }

@media (max-width: 768px) {
  .blog-item,
  .blog-item.reverse {
    flex-direction: column;
    text-align: center;
  }
  .blog-content {
    max-width: 100%;
  }
  .header-line h2 {
    font-size: 25px;
  } }

  @media (max-width: 768px) {
  nav {
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: #9B111E;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
  }
  nav.active {
    opacity: 1;
    pointer-events: auto;
  }
  nav a {
    font-size: 22px;
    width: 80%;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  .burger {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 30px;
    right: 20px;
  }
}

@media (min-width: 768px) {
  .product-card {
    min-width: 33.333%;
  }
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}

/* MAIN SECTION */

@media (max-width: 768px) {
  .main-section {
    display: none;
  }
}

/* ABOUT PAGE */

@media (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
  }

  .about-title {
    font-size: 26px;
  }

  .about-info {
    padding: 20px;
  }

  .feature-box {
    padding: 15px;
  }
}

/* TERMS PAGE */

@media (max-width: 768px) {
  .terms-title {
    font-size: 26px;
  }

  .terms-box {
    padding: 20px;
  }
}

@media (max-width: 700px) {
  .product-item {
    flex-direction: column;
  }

  .product-image {
    width: 100%;
    height: 220px;
  }
}

@media (max-width: 600px) {
  .bar {
    height: 8px;
  }
}

@media (max-width: 600px) {
  .disclaimer {
    padding: 10px 15px;
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .blogpage-card {
    flex-direction: column;
  }

  .blogpage-card img {
    width: 100%;
  }
}