@media (max-width: 768px) {
    .logo img {
        width: 50px;
    }
  nav a {
    display: none;
  }
  .hidden-burger-menu {
    display: flex;
    filter: invert(1);
  }
  .main-poster {
    margin-top: 0%;
  }
  .poster-content {
    font-size: 12px;
  }
  .poster-button {
    font-size: 12px;

  }
}

@media (max-width: 768px) {
  .blog-item,
  .blog-item.reverse {
    flex-direction: column;
    text-align: center;
  }

  .blog-content {
    max-width: 100%;
  }
  .header-line h2 {
    font-size: 25px;
  }
}