@media (max-width: 768px) {
    .logo {
        font-size: 20px;
    }
  nav a {
    display: none;
  }
  .hidden-burger-menu {
    display: flex;
    filter: invert(1);
  }
  .main-poster {
    margin-top: 0%;
  }
  .poster-content {
    font-size: 12px;
  }
  .poster-button {
    font-size: 12px;

  }
}