* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body {
    background-color: black;
}
@font-face {
    font-family: "bpg le";
    src: url(fonts/bpg-le-studio-04-webfont.ttf) format(truetype);
}

.container {
  max-width: 1200px;
  margin: 0 auto;      
  padding: 15px 20px;  
}

header {
    background-color: rgb(219, 42, 42);
}
.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: "bpg le", sans-serif;
    font-weight: 900;
    font-size: 30px;

}
.logo a, nav a {
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    color: #000000;
}

nav {
    font-family: "bpg le", sans serif;
    display: flex;
    gap: 20px;
    font-weight: 700;
}
.hidden-burger-menu {
    display: none;
}
.main-poster {
    position: relative;
    height: 500px;
    margin-top: 30px;
    background-color: #000000;
    display: flex;
    align-items: center;     
    justify-content: center; 
    overflow: hidden; 
     
}
.poster-img {
    height: 100%;      
    width: auto;       
    display: block;    
    object-fit: contain;
}
.poster-content {
    position: absolute; 
    font-family: "bpg le", sans-serif;     
    color: #fff;             
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    

}
.poster-text {
    margin-top: 20px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7); 
}
.poster-button {
   width: auto;
   height: auto;
   font-size: 20px;
   font-weight: 700;
   padding: 15px 20px;
   color: #fff;
   background-color: rgb(219, 42, 42);
   font-family: "bpg le", sans-serif;
   cursor: pointer;
   margin-top: 20px;

} 
.poster-button:hover {
    background-color: rgb(164, 103, 103);
    color: #000000;
}