* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body {
    background-color: black;
}
@font-face {
    font-family: "bpg le";
    src: url(fonts/bpg-le-studio-04-webfont.ttf) format(truetype);
}

.container {
  max-width: 1200px;
  margin: 0 auto;      
  padding: 15px 20px;  
}

header {
    background-color: rgb(219, 42, 42);
}
.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: "bpg le", sans-serif;
    font-weight: 900;
    font-size: 30px;

}
.logo a, nav a {
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    color: #000000;
}

nav {
    font-family: "bpg le", sans serif;
    display: flex;
    gap: 20px;
    font-weight: 700;
}
.hidden-burger-menu {
    display: none;
}